	<div class="row">
		<div class="col-md-8 col-center m-auto testimonial-h">
			<h2>Testimonials</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
                   <div class="item carousel-item active">
					
						<p class="testimonial">It was great working with Bhanu! He was very knowledgeable and saved me from what would have been hours of painstaking work by creating a very smart script that got the job done in hours which otherwise would have taken days. I would recommend Bhanu to anyone looking for a great reliable person and would love to hire him again!</p>
						<p class="overview"><b>Diego</b></p>
                        <h5>for his job: Convert multiple choice survey data from email (in pdf and .eml format) into a single Excel Table </h5>
					</div>
					<div class="item carousel-item ">
						
						<p class="testimonial">Delivered exactly to specification, on time and within budget. Good communication and happy to adapt small changes as required within original fee. Would highly recommend Bhanu and will use again.</p>
						
                        <p class="overview"><b>Tim</b></p>
                        <h5>for his job: VBA code to run a python web-scraping script (supplied) from within Excel</h5>
					</div>
					<div class="item carousel-item">
					    
						<p class="testimonial">Bhanu provided a Good Work on Excel VBA, and I enjoyed working with him. His communication was top-notch, he met all deadlines, and his skills were reasonably strong. Understand the requirement properly and delivered the project on-time</p>
						
                        <p class="overview"><b>Michael</b></p>
                        <h5> for his job: Excel VBA + SQL Developer need for creating a small kind of excel tool</h5> 
					</div>
					
				</div>
				<!-- Carousel controls -->
				 <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
			</div>
		</div>
	</div>