 <div class="row">
   <div class="col col-md-12" >
        <div class="card">
            <h2 class="card-header">How it works</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">Requirement Analysis</h3>
                                <p class="card-text">We discuss your current process and identify the automation opportunities. This can be done by screen sharing or on site visit. We set milestones and deadlines for the identified automation opportunities</p>
                            </div>
                            
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title"> Design & Develop</h3>
                                <p class="card-text">We collaborate with your team to design and test a system as per the specified specifications. Deliver the product on or before preset deadlines. Provide required documentation and training </p>
                            </div>
                            
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                            
                            <div class="card-body">
                            <h3 class="card-title">Support</h3>
                                <p class="card-text">We provide support on the delivered product, incorporate changes as per the changes in business requirement. So that you enjoy the benefit of more time to focus on other important things</p>
                            </div>
                            
                            </div>
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
 
 
            </div>
         </div>
    </div>
 
</div>
