{% extends 'base.html' %}
{% block title %}{{block.super}} | Code Bank {% endblock %}

{% block container %}

<a class="btn btn-primary my-4" role="button" href="{% url 'codebank:create' %}">Add Code</a>
{% for object in object_list %}
<div>
    <h3>
        {{object.title}}
    </h3>
    <p>
        {{object.desc}}
    </p>
    <p class=" pre-scrollable">
        <pre class="bg-light py-2 px-4  ">
        <code>
                <p contenteditable="true" >
            {{object.code}}
        </p>
        </code>
        </pre>
        <a href="{% url 'codebank:update' object.id %}">edit</a> |
        <a href="{% url 'codebank:delete' object.id %}" class="del" data-toggle="modal"
            data-target="#delete_form">delete</a>
    </p>


</div>




<div class="modal fade" id="delete_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-muted " id="exampleModalLabel">
                    Delete confirmation
                </h5>
            </div>
            <div class="modal-body">
                The code details will be deleted permanantly, click confirm to continue.
            </div>
            <div class="modal-footer">
                <form id='frm_delete' action="/delete">
                    {% csrf_token %}
                    <button class=" btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endfor %}


{% endblock %}