{% extends 'base.html' %} {% block title %} {{block.super}} | About {%endblock %} {% block container %}

<div class="container mt-4">
  <h3 class="text-info my-4">
    We help our clients focus on their business
  </h3>

  <p class="lead text-secondary">
    We are a growing company focussed on providing Microsoft office application
    integration and application management tools and services for small-medium
    size businesses and financial services industry. We bring wealth of
    experience in managing and automating BAU tasks. Clients trust us to deliver
    quality advice, solutions and support based on our deep expertise and point
    of views gained over many years of experience.
  </p>
  <p class="lead text-secondary">
    At Biome Consulting, we are committed to long term relationships with our
    clients by delivering sound strategic advice and reliable, holistic
    solutions that enable our clients to sustain and grow their business.
  </p>

  <div class="my-4">
    <h4 class="text-info">
      Our Values
    </h4>
    <div class="row my-5">
      <div class="col-sm-4 text-primary ">
        <h5 class="border-bottom">Transparency</h5>
        <p class="text-secondary">
          Exhibit Honesty & Integrity at every step of the way
        </p>
      </div>

      <div class="col-sm-4 text-primary ">
        <h5 class="border-bottom">Exemplary Customer Service</h5>
        <p class="text-secondary">
          Put customer interests before ours
        </p>
      </div>

      <div class="col-sm-4 text-primary ">
        <h5 class="border-bottom">Meritocracy</h5>
        <p class="text-secondary">
          Professional growth, development and rewards based on performance
        </p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-sm-4 text-primary ">
        <h5 class="border-bottom">Accountable</h5>
        <p class="text-secondary">
          Being responsible and expected to take Ownership & be Accountable.
        </p>
      </div>

      <div class="col-sm-4 text-primary ">
        <h5 class="border-bottom">Expertise</h5>
        <p class="text-secondary">
          Acquire Knowledge & Continue to Innovate
        </p>
      </div>

      <div class="col-sm-4 text-primary ">
        <h5 class="border-bottom">Professional</h5>
        <p class="text-secondary">
          Always be Professional & Energetic
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}