{% extends "base.html" %}
{% block title %} {{block.super}} | Contact {% endblock %}
{% load crispy_forms_tags %} {% block container %}
<form method="POST">
  <div class="row justify-content-center my-4">
    <div class="col col-sm-4 ">
      <div class="Card">
        <div class="Card-Header  ">
          <h2>Contact Us</h2>
        </div>
        <div class="card-body">
          {{ form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary float-right ">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock container %}